@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'NeueMontrealRegular';
  src: url('/fonts/Helvetica-Roman.ttf') format('opentype');
}
@font-face{
  font-family: 'NeueMontrealLight';
  src: url('/fonts/Helvetica-Thin.ttf') format('opentype');
}