@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NeueMontrealRegular";
  src: url("/Fonts/MonumentGrotesk-Regular.woff2");
}

@font-face {
  font-family: "NeueMontrealLight";
  src: url("/Fonts/MonumentGrotesk-Regular.woff2");
}

html {
  scrollbar-width: none;
}

body {
  background-color: black;
}
